## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [ ]:
a=15
print(a)

15

2) Imprimir el tipo de dato de la variable 8.5

In [ ]:
x= 17
z=2
print (float(x/z))

8.5

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [ ]:
a=15
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
nombre="Juanse"
print(nombre)

Juanse

5) Crear una constante que contenga el número Pi

In [ ]:
import math
pi= math.pi
print(pi)

3.141592653589793

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [ ]:
import math
pi= math.pi
print (type(pi))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [ ]:
import math
euler= math.e
print(euler)

2.718281828459045

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
t="True"
T=True
print (t,T)

True True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [ ]:
t="True"
T=True
print(type(t))
print(type(T))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [ ]:
a=5+13.5
print(a)

18.5

11) Realizar una operación de suma de un número definido como string con un entero

In [ ]:
a= "123"
b=5
print(int(a)+b)

128

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [ ]:
import math
base=math.e
exponente=3
print(base**exponente)

20.085536923187664

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [34]:
numero=(input("ingresar numero por teclado"))
resultado=B*5
print(resultado)

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [35]:
numero=27
numero2=4
print(numero/numero2)

6.75

15) De la división anterior solamente mostrar la parte entera

In [36]:
numero=27
numero2=4
print(numero//numero2)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [37]:
numero=27
numero2=4
print(numero%numero2)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [38]:
numero=4
numero2=6
numero3=3
print(numero*numero2+numero3)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [39]:
dos="2"
DOS=2
print(dos,DOS)

2 2

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [62]:
dos=int("2") 
DOS=2
print(dos,DOS)

2 2

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [63]:
a=float('3.8')
print(a)

3.8

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [64]:
numero=10
numero2=int("10")
print(numero+numero2)

20

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [65]:
menu=""""
MENU
1)PIZZA  2)EMPANADA
3)MILANESAS   4)SALIR
"""
print(menu)

"
MENU
1)PIZZA  2)EMPANADA
3)MILANESAS   4)SALIR

23) Crear una lista que contenga los números del 1 al 10

In [66]:
Lista=""""
a)1 
b)2
c)3
d)4
e)5
f)6
g)7
h)8
i)9
j)10
"""
print(Lista)

"
a)1
b)2
c)3
d)4
e)5
f)6
g)7
h)8
i)9
j)10

24) Imprimir el penultimo elemento de la lista creada en el punto 23

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [67]:
Lista="""
a)1
b)2
juanse
4
5
6
7
8
9
10
"""
print(Lista)

a)1
b)2
juanse
4
5
6
7
8
9
10

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [12]:
matriz=[
    ["A,B,C"],
    ["D,E,F"],
    ["G,H,I"]]
    

print(matriz)

[['A,B,C'], ['D,E,F'], ['G,H,I']]

27) Imprimir la matriz creada en el punto 26

In [13]:
matriz=[
    ["A,B,C"],
    ["D,E,F"],
    ["G,H,I"]]
    

print(matriz)

[['A,B,C'], ['D,E,F'], ['G,H,I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [14]:
matriz=[
    ["A,B,C"],
    ["D,Z,F"],
    ["G,H,I"]]
    

print(matriz)

[['A,B,C'], ['D,Z,F'], ['G,H,I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [15]:
matriz=[
    [1,2,3],
    ["D,Z,F"],
    ["G,H,I"]]
    

print(matriz)

[[1, 2, 3], ['D,Z,F'], ['G,H,I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [16]:
mitupla=("Adidas,NIKE,Puma,Topper,Gregoris")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [22]:
mitupla=("Adidas","NIKE","Puma","Topper","Gregoris")
print(mitupla[0])

Adidas

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [23]:
mitupla=("las,tuplas,no,se,pueden,modificar,por,que,son,inmutables")
print(mitupla)

las,tuplas,no,se,pueden,modificar,por,que,son,inmutables

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [26]:
persona={
    "nombre":"juan",
    "Apellido":"soloa"
    "edad:" "29",
    "hobbies":"Futbol,gimnasio,juegos de PC"
    
}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [27]:
persona={
    "nombre":"juan",
    "Apellido":"soloa"
    "edad:" "29",
    "hobbies":"Futbol,gimnasio,juegos de PC"
    }
print(persona["hobbies"])

Futbol,gimnasio,juegos de PC

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [32]:
persona={
    "nombre":"juan",
    "Apellido":"soloa",
    "edad": "29",
    "hobbies":"Futbol,gimnasio,juegos de PC"
   
    }
persona["edad"] ="27"
    
print(persona)

{'nombre': 'juan', 'Apellido': 'soloa', 'edad': '27', 'hobbies': 'Futbol,gimnasio,juegos de PC'}